<p>
  <b>Address:</b>
  <%=h @spot_activity.address %>
</p>

<p>
  <b>Time in milliseconds:</b>
  <%=h @spot_activity.time_in_milliseconds %>
</p>

<p>
  <b>Celsius:</b>
  <%=h @spot_activity.celsius %>
</p>

<p>
  <b>Light:</b>
  <%=h @spot_activity.light %>
</p>

<p>
  <b>Sw1:</b>
  <%=h @spot_activity.sw1 %>
</p>

<p>
  <b>Sw2:</b>
  <%=h @spot_activity.sw2 %>
</p>

<p>
  <b>Accel:</b>
  <%=h @spot_activity.accel %>
</p>

<p>
  <b>Accelx:</b>
  <%=h @spot_activity.accelx %>
</p>

<p>
  <b>Accely:</b>
  <%=h @spot_activity.accely %>
</p>

<p>
  <b>Accelz:</b>
  <%=h @spot_activity.accelz %>
</p>

<p>
  <b>Rel accel:</b>
  <%=h @spot_activity.rel_accel %>
</p>

<p>
  <b>Rel accelx:</b>
  <%=h @spot_activity.rel_accelx %>
</p>

<p>
  <b>Rel accely:</b>
  <%=h @spot_activity.rel_accely %>
</p>

<p>
  <b>Rel accelz:</b>
  <%=h @spot_activity.rel_accelz %>
</p>

<p>
  <b>Tiltx:</b>
  <%=h @spot_activity.tiltx %>
</p>

<p>
  <b>Tilty:</b>
  <%=h @spot_activity.tilty %>
</p>

<p>
  <b>Tiltz:</b>
  <%=h @spot_activity.tiltz %>
</p>


<%= link_to 'Edit', edit_spot_activity_path(@spot_activity) %> |
<%= link_to 'Back', spot_activities_path %>